<section id="main-slider-near-me" class="carousel">
	<div class="container-fluid">
		<!-- Main component for a primary marketing message or call to action -->
		<div class="col-lg-3"></div>
		<div class="col-lg-6 well">
			<h1 style="text-align: center">Login</h1>
			{{status}}
			<div class="row">
				<div class="col-lg-12">
					<form role="form" name="loginForm" ng-submit="login(credentials)"
						novalidate>
						<div class="form-group">
							<label class="control-label" for="username">Username</label> <input
								ng-model="credentials.username" type="text" class="form-control"
								id="name" name="username" placeholder="ex: iamauser" />
						</div>
						<div class="form-group">
							<label class="control-label" for="password">Password</label> <input
								ng-model="credentials.password" type="password"
								class="form-control" id="password" name="password"
								placeholder="ex: mypass" />
						</div>
						<div>
							<div style="float:left"><input type="submit" role="button" value="Login" class="btn btn-lg btn-primary" /></div>
							<div style="float:left"><a role="button" class="btn btn-lg btn-primary" ng-click="login_fb()">Login with FB</a></div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
		<div class="col-lg-3"></div>
	</div>
</section>