<section id="main-slider-near-me" class="carousel">
	<div class="container">
		<!-- Main component for a primary marketing message or call to action -->
		<div class="col-lg-3"></div>
		<div class="col-lg-6 well">
			<h1 style="text-align: center">Near Me</h1>
			<div class="row">
				<div class="col-lg-12" id="map-canvas" style="height: 300px;"></div>
			</div>
			<br/>
			<div class="row">
				<ul class="nav nav-pills nav-justified">
				<li class="active">
					<a data-target="#" data-toggle="tab" ng-click="setTimeSpan(0)">
					<span id="games0" class="badge pull-right">{{games0}}</span>
					Next 2 hours
					</a>
				</li>
				<li>
					<a data-target="#" data-toggle="tab" ng-click="setTimeSpan(1)">
					<span id="games1" class="badge pull-right">{{games1}}</span>
					Today
					</a>
				</li>
				<li>
					<a data-target="#" data-toggle="tab" ng-click="setTimeSpan(2)">
					<span id="games2" class="badge pull-right">{{games2}}</span>
					Tomorrow
					</a>
				</li>
				<li>
					<a data-target="#" data-toggle="tab" ng-click="setTimeSpan(3)">
					<span id="games3" class="badge pull-right">{{games3}}</span>
					Next week
					</a>
				</li>
				</ul>
			</div>
			<div id="list">
				<div class="row">
					<div class="col-lg-12 well" ng-repeat="game in games">
						<h5>
							<span class="badge" style="background-color: #AE4D4D; color: #000"></span>
							<a href="/game/{{game.uniqueId}}">{{name}}</a>
							<div class="pull-right">
								Posted By: <a href="#">{{game.createdBy}}</a>
							</div>
						</h5>
						Comments: {{game.description}} <br /> 
						<span style="font-weight: 600;">Date:</span>{{game.date}} <br />
						<br />
						<div class="game-buttons">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3"></div>
	</div>
</section>
