{% extends 'layout.ejs' %}

{% block content %}		
	    <div class="container">
	
	      <!-- Main component for a primary marketing message or call to action -->
	      <div class="col-lg-3 well" style="opacity: 0.9;">
	          <img class="img-circle" src="/img/1618374_10152628986164027_41873271_o.jpg" style="width: 200px; height: 200px;" alt="Generic placeholder image"/>
	          <br/>
	          <p>
	              <span style="font-weight: 600;">Name:</span> {{player.firstname}} #{player.lastname}
	              <br/>
	              <span style="font-weight: 600;">Birthday:</span> {{player.dateOfBirth}}
	              <br/>
	              <span style="font-weight: 600;">Email:</span> {{player.email}}
	              <br/>
	              <span style="font-weight: 600;">Position:</span> Point Gaurd
	              <br/>
	              <span style="font-weight: 600;">About:</span>{{player.about}}
	          </p>
	      </div>
	      <div class="col-lg-1"></div>
	      <div class="col-lg-8 well" style="opacity: 0.9;">
	          
	          <ul class="nav nav-tabs tabs-right">
	              <li class="active"><a href="#home" data-toggle="tab">Calendar</a></li>
	              <li><a href="#messages" data-toggle="tab">Messages</a></li>
	              <li><a href="#games" data-toggle="tab">My Games</a></li>
	            </ul>
	
	            <!-- Tab panes -->
	            <div class="tab-content">
	              <div class="tab-pane active" id="home">
	                  <br/>
	                  <div id='calendar' class="col-lg-12" style="margin: 0 auto;"></div>
	              </div>
	              <div class="tab-pane" id="messages">
	                    <br/>
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <label>Michael Jordan wrote (4 Apr):</label>
	                            Hope to see you on the court tonight... Bring your a game.
	                            <br/>
	                            <textarea class="form-control" rows="3"></textarea>
	                            <br/>
	                            <a class="btn btn-sm btn-primary" href="#">Respond</a>
	                        </div>
	                    </div>
	                    <hr/>
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <label>Scotty Pippin wrote (01 Apr):</label>
	                            You going to be available for a tournament May 3 - 6? I have some friends coming into town and I would like to create a tournament on PickItUp so they can see what the competition is like in Leuven.
	                            <br/>
	                            <textarea class="form-control" rows="3"></textarea>
	                            <br/>
	                            <a class="btn btn-sm btn-primary" href="#">Respond</a>
	                        </div>
	                        <hr/>
	                    </div>
	              </div>
	              <div class="tab-pane" id="games">
	                    <br/>
	                    {% for game in games %}
	                    	<div class="row">
		                        <div class="col-lg-12">
		                            <div class="row">
		                                <label>Title:</label> {{game.name}}
		                                <div class="btn-group btn-group-xs pull-right">
		                                    <a href="#" class="btn btn-link"><img src="/img/glyphicons_social_02_google_plus.png"/></a>
		                                    <a href="#" class="btn btn-link"><img src="/img/glyphicons_social_31_twitter.png"/></a>
		                                    <a href="#" class="btn btn-link"><img src="/img/glyphicons_social_30_facebook.png"/></a>
		                                    <a href="#" class="btn btn-link"><img src="/img/glyphicons_016_bin.png"/></a>
		                                </div>
		                                
		                            </div>
		                            <div class="row">
		                                <label>Date:</label> {{game.date}} 
		                            </div>
		                            <div class="row">
		                                <label>Comments:</label> {{game.description}} 
		                            </div>
		                            <div class="row">
		                                <label>Confirmed Players:</label>
		                                {% for player in game.players %}
										<span class="label label-default">{{player.screenName}}</span>
										{% endfor %}
		                            </div>
		                        </div>
		                    </div>
	                        <hr/>
	                    {% endfor %}	
	              </div>
	            </div>
	          
	        </div>
	        
	        
      </div>
{% endblock %}
{% block pageJs %}
	    <script>
	        $(function(){
	            getPlayerCal();
	        });
	    </script>
{% endblock %}

