{% extends 'layout.ejs' %}

{% block content %}		
    <div class="container">

	<!-- Main component for a primary marketing message or call to action -->
	<div class="col-lg-3 well" style="opacity: 0.9;">
		<img class="img-circle" src="{{player.picture}}"
			style="width: 200px; height: 200px;" alt="Generic placeholder image" />
		<br />
		<p>
			<span style="font-weight: 600;">Name:</span> {{player.screenName}} <br />
			<span style="font-weight: 600;">Birthday:</span>
			{{player.dateOfBirth}} <br /> <span style="font-weight: 600;">Email:</span>
			{{player.email}} <br /> <span style="font-weight: 600;">Position:</span>
			Point Gaurd <br /> <span style="font-weight: 600;">About:</span>{{player.description}}
		</p>
	</div>
	<div class="col-lg-1"></div>

</div>
{% endblock %}
{% block pageJs %}
	    <script>
	        $(function(){
	            getPlayerCal({{schedule|json|safe}});
	        });
	    </script>
{% endblock %}

