{% extends 'layout.ejs' %} {% block content %}

<div class="col-lg-3"></div>
<div class="col-lg-6 well" style="opacity: 0.9;">
	<h1 style="text-align: center">Create Account</h1>
	<div class="row">
		<div class="col-lg-12 well">
			<form role="form" method="POST">
				<div class="form-group{% if errors.firstname %} has-error{% endif %}">
					<label class="control-label" for="firstname">First Name</label> 
					<input type="text" id="firstname" name="firstname" class="form-control" placeholder="ex: Michael" value="{{data.firstname}}"/>
				</div>
				<div class="form-group{% if errors.lastname %} has-error{% endif %}">
					<label class="control-label" for="lastname">Last Name</label> 
					<input type="text" id="lastname" name="lastname" class="form-control" placeholder="ex: Jordan" value="{{data.lastname}}"/>
				</div>
				<div class="form-group{% if errors.dateOfBirth %} has-error{% endif %}">
					<label class="control-label" for="dateOfBirth">Birthday</label> 
					<div class="input-group date" id="dateOfBirthPicker" data-date-format="DD/MM/YYYY">
						<input type="text" id="dateOfBirth" name="dateOfBirth" class="form-control" placeholder="30/12/1988" value="{{data.dateOfBirth}}"/>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>
				</div>
				<div class="form-group{% if errors.email %} has-error{% endif %}">
					<label class="control-label" for="email">Email</label> 
					<input type="text" id="email" name="email" class="form-control" placeholder="ex: john.doe@pickitup.com" value="{{data.email}}"/>
				</div>
				<div class="form-group{% if errors.password %} has-error{% endif %}">
					<label class="control-label" for="password">Password</label> 
					<input type="password" id="password" name="password" class="form-control" />
				</div>
				<div class="radio{% if errors.playerSex %} has-error{% endif %}">
					<input type="radio" id="playerSex" name="playerSex" value="Male" {% if  data.playerSex == 'Male' %} checked{% endif %}> 
					<label class="control-label" for="playerSex"> 
						Male
					</label>
				</div>
				<div class="radio{% if errors.playerSex %} has-error{% endif %}">
					<input type="radio" id="playerSex" name="playerSex" value="Female" {% if  data.playerSex == 'Female' %} checked{% endif %}> 
					<label class="control-label" for="playerSex"> 
						Female
					</label>
				</div>

				<div class="form-group{% if errors.description %} has-error{% endif %}">
					<label for="description">About Me</label>
					<textarea id="description" name="description" class="form-control">{{data.description}}</textarea>
				</div>
				<button type="submit" role="button" class="btn btn-lg btn-primary">Submit</button>
			</form>
		</div>
	</div>



</div>
<div class="col-lg-3"></div>

{% endblock %}
{% block pageJs %}
	<script>
        $(function(){
			$('#dateOfBirthPicker').datetimepicker({
				pickTime: false,
			});
        });
	</script>
{% endblock %}
